.footer{width:100%;height:179px;background:#404144;text-align:center;overflow:hidden;}
.footer a{display:inline-block;margin-top:42px;width:79px;height:12px;font:12px/12px "微软雅黑";color:#999999; background:url("../images/footer_bg.png") no-repeat right 0;}
.footer .last{background:none;}
.footer p{display:inline-block;margin-right:7px;font:12px/44px "微软雅黑";color:#999999;}
.footer span{display:inline-block;margin:0 8px 16px 0;font:12px/12px "微软雅黑";color:#999999;}
